*.idea
*.env
DESC_Education/.env
/DESC_Education/db.sqlite3
/DESC_Education/.coverage
/DESC_Education/htmlcov/

/venv

/mediafiles/
/DESC_Education/Profiles/migrations/cities_vk.csv
/DESC_Education/Profiles/migrations/cities_old.csv
