djangorestframework==3.15.2
Django==5.0.7
djangorestframework-simplejwt==5.3.1
pydantic==2.6.1
pydantic_core==2.16.2
pydantic-settings==2.2.1
drf-spectacular==0.27.2
psycopg2-binary==2.9.9
django-cors-headers==4.4.0
pillow==10.4.0
gunicorn==23.0.0
gevent==24.2.1
requests==2.32.3
dj-inmemorystorage==2.1.0
django-filter==24.3
django-silk==5.2.0
sentry-sdk==2.13.0
django-prometheus==2.3.1
django-redis==5.4.0
django-debug-toolbar==4.4.6
celery==5.4.0
channels==4.1.0
channels-redis==4.2.0
daphne==4.1.2
uvicorn[standard]==0.31.0



